@import 'primeicons/primeicons.css';

html {
  font-size: 18px;
}

.router-link-active > button {
  background-color: var(--p-button-text-primary-hover-background);
  color: var(--p-button-text-primary-color);
}